body {
    background-color: #0f0f0f ;
    color: #ffffff ;
}
.center {
    margin-left: auto ;
    margin-right: auto ;
    background-color: #000000 ;
}
table {
    table-layout: fixed ;
}
.resume {
    text-align: left;
}